// toggle
$toggle-height: calc(#{$input-height} * .8) !default;
$toggle-height-sm: calc(#{$input-height-sm} * .8) !default;
$toggle-height-lg: calc(#{$input-height-lg} * .8) !default;
$toggle-border-radius: $toggle-height !default;
$toggle-bg: $input-group-addon-bg !default;
$toggle-checked-bg: map-get($theme-colors, 'primary') !default;
$toggle-disabled-bg: $custom-control-indicator-disabled-bg !default;
$toggle-disabled-color: $custom-control-label-disabled-color !default;
$toggle-thumb-bg: $white !default;
$toggle-thumb-border-radius: 50% !default;
$toggle-thumb-padding: 2px !default;
$toggle-focus-box-shadow: 0 0 0 $input-btn-focus-width rgba(map-get($theme-colors, 'primary'), .25);
$toggle-transition: .2s all !default;
