includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - config
        - src

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
        - '#Method Okipa\\LaravelBootstrapComponents\\Components\\Form\\Abstracts\\SelectableAbstract::disabled\(\) should return \$this\(Okipa\\LaravelBootstrapComponents\\Components\\Form\\Abstracts\\SelectableAbstract\) but returns Okipa\\LaravelBootstrapComponents\\Components\\Form\\Abstracts\\SelectableAbstract#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: true
